* {
  /* overflow-x: hidden;
  overflow: hidden; */
  box-sizing: border-box;
  
}

/* .smooth-scroll-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden

} */

.App {
  background-color: #15171a;

}


a:link {
  text-decoration: none;
}

/* .App {
  background-color: #15171a;
} */

.App-header-socials {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
 
}

.social {
  color: white;
  font-size: 15px ;
  font-family: Plain, sans-serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 20px
}

.social:hover {
  text-decoration:line-through;
}



.App-header {
  background-color: #15171a;
  display: flex;
  justify-content: space-between;

}

.App-name {
  font-family: Plain, sans-serif;
  font-size: 13px ;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-right: 50px;
  margin-top: 30px;
  height: 100px;
  width: 100px;

  border: 2px solid white;
  border-radius: 60px;  
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}


.App-header-title {
  color: transparent;
  font-family:"Druk Wide Web Bold Regular" ;
  letter-spacing: .02em;
  -webkit-text-stroke: 2px rgb(255, 255, 255);

  -webkit-text-stroke-width: 2px;
  font-size: calc(100px + 2vmin);

  z-index: 2;

  margin-top: 6%;

}

.title {
  margin: 0;
}


.App-main {
  background-color: #15171a;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26%;
}

.menu {
  text-align: left;
  margin-left: 6%;
  width: fit-content;
}

.menu1, .menu2, .menu3 {
  color: #15171a;
  font-family:"Druk Wide Web Bold Regular" ;
  letter-spacing: .3em;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  /* -webkit-text-stroke-width: 2px; */
  font-size: calc(70px + 2vmin);
  margin: 5px;
  cursor: pointer;

  transition: all .4s ease-in;
}

.menu1:hover {
  color: rgb(212, 218, 213);
  -webkit-text-stroke: 1px rgb(212, 218, 213) ;
  letter-spacing: .5em;
}





.menu2:hover {
  color: #555847;
  -webkit-text-stroke: 1px #555847 ;
  letter-spacing: .5em;
  

}

.menu3:hover {
  color: #893d27;
  -webkit-text-stroke: 1px #893d27 ;
  letter-spacing: .5em;
  

}

.App-images {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.App-logos {

width: 45%;
margin: 40px;
}

.decal1 {
  margin-left: 30%;
}

.decal2 {
  margin-right: 30%;
}

.App-introduction {
  color: #b2b2b2;
  font-size: 20px;
  letter-spacing: 0.44em;
  margin: 4%;
  text-align: right;
  
  
}

section { 
  background-size: 8%;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 4vw; 
  background-image: url(./assets/images/equislogo3.png);
  
  
  
}

@media screen and (min-width: 800px) and (max-width: 1050px) {

  .social-mobile {
    display: inline-block !important;
    margin-top: 40px;
    margin-right: 20px;
    
  }

  .social {
    display: none ! important;
  }

  .title {
    font-size: 90px;
    margin-top: 6%;
    }

    .menu1, .menu2, .menu3 {
      font-size: 60px;
      
    }
}

@media screen and (min-width: 600px) and (max-width:800px) {

  .title {
  font-size: 75px;
  margin-bottom: 8%;
  margin-top: 8%;
  }
  
  .menu {
    margin-bottom: 8%;
    
  }

  .menu1, .menu2, .menu3 {
    font-size: 50px;
    margin-top: 40px;
  }

  .social-mobile {
    display: inline-block !important;
    margin-top: 40px;
    margin-right: 20px;
    
  }

  .social {
    display: none ! important;
  }

 

  .App-introduction {
    font-size: 16px;

  }

  .App-logos {
    width: 65%;
  }

}

@media screen and (max-width:600px) {

  .menu1, .menu2, .menu3 {
    font-size: 30px;
    margin-top: 27px;
  }

  .menu {
    margin: auto;
    text-align: center;

    flex-direction: column;
    height: 200px;
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 50px;
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .App-logo {
    width: 150%;
    height: auto;
    }

  .App-main {
    margin-bottom: 50%;
  }

  .App-introduction {
    
      font-size: 14px;
      margin-top: 13%;
  }

  .App-logos {
    width: 95%;
  }

  section { 
    background-size: 20%;
  }

  .App {
    padding: 0;
    margin: 0;
  }

  .decal1 {
    margin-left: 0;
    margin-right: 0;
  }
  
  .decal2 {
    margin-right: 0;
    margin-left: 0;

  }

  .social-mobile {
    display: inline-block !important;
    margin-top: 40px;
    margin-right: 20px;
    
  }

  .social {
    display: none ! important;
  }
}