a:link {
  text-decoration: none;
}

.App {
  background-color: #15171a;
}

.App-header-socials {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
 
}

.social {
  color: white;
  font-size: 12px ;
  font-family: Plain, sans-serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
  
}

.social:hover {
  text-decoration:line-through;
}

.App-header {
  background-color: #15171a;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.App-name {
  font-family: Plain, sans-serif;
  font-size: 13px ;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-right: 50px;
  margin-top: 30px;
  height: 100px;
  width: 100px;

  border: 2px solid white;
  border-radius: 60px;
  
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}


.App-header-title {
  color: #15171a;
  font-family:"Druk Wide Web Bold Regular" ;
  letter-spacing: .02em;
  -webkit-text-stroke: 2px rgb(255, 255, 255);

  -webkit-text-stroke-width: 2px;
  font-size: calc(70px + 2vmin);
}

.title {
  margin: 0;
}


.App-main {
  background-color: #15171a;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  
}

.menu {
  text-align: left;
  margin-left: 6%;
  width: fit-content;
}

.menu1, .menu2, .menu3 {
  color: #15171a;
  font-family:"Druk Wide Web Bold Regular" ;
  letter-spacing: .3em;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  /* -webkit-text-stroke-width: 2px; */
  font-size: calc(60px + 2vmin);
  margin: 5px;
  cursor: pointer;

  transition: all .4s ease-in;
}

.menu1:hover {
  color: rgb(212, 218, 213);
  -webkit-text-stroke: 1px rgb(212, 218, 213) ;
  letter-spacing: .5em;
}





.menu2:hover {
  color: #555847;
  -webkit-text-stroke: 1px #555847 ;
  letter-spacing: .5em;
  

}

.menu3:hover {
  color: #893d27;
  -webkit-text-stroke: 1px #893d27 ;
  letter-spacing: .5em;
  

}

.App-images {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.App-logos {

width: 45%;
margin: 40px;
}

.decal1 {
  margin-left: 30%;
}

.decal2 {
  margin-right: 30%;
}

.App-introduction {
  color: #b2b2b2;
  font-size: 16px;
  letter-spacing: 0.44em;
  margin: 4%;
  text-align: right;
  
  
}
